@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;
}

body {
  color: #fff;
  background: #232323;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

pre {
  text-wrap: wrap;
}